%% -*- erlang -*-
{erl_opts, [debug_info, fail_on_warning]}.

{port_env, [	
		{"CFLAGS", "$CFLAGS  -D_FILE_OFFSET_BITS=64 "},
		{"darwin", "CFLAGS", "$CFLAGS -I /usr/local/include/osxfuse -DDARWIN_TWEAKS=1 -DFUSE_USE_VERSION=26 -DHAVE_SETXATTR=1"},
		{"darwin", "LDFLAGS", "$LDFLAGS -losxfuse"},

		{"linux", "CFLAGS", "$CFLAGS -DFUSE_USE_VERSION=26 -DHAVE_SETXATTR=1"},
		{"linux", "LDFLAGS", "$LDFLAGS -lfuse"}
	   ]}.

{port_specs, [
	      {"priv/fuserl.so", [ "c_src/fuserl.c", "c_src/fuserl_portability.c" ]},
	      {"priv/fuserldrv", [ "c_src/fuserldrv.c",  "c_src/driver2pipe.c" ]}
	     ]}.

				   
